<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.jiewu.mapper.JwSportMapper">
    
    <resultMap type="JwSport" id="JwSportResult">
        <result property="id"    column="id"    />
        <result property="playerName"    column="player_name"    />
        <result property="idCard"    column="id_card"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="backNumber"    column="backNumber"    />
        <result property="teamName"    column="teamName"    />
        <result property="playerPhone"    column="player_phone"    />
    </resultMap>

    <sql id="selectJwSportVo">
        select id, player_name, id_card, sex, age, create_user_id, player_phone from jw_sport
    </sql>

    <resultMap id="JwSportSignGameItemResult" type="JwSport" extends="JwSportResult">
        <collection property="jwGameItemList" notNullColumn="game_item_id" javaType="java.util.List" resultMap="JwGameItemResult" />
    </resultMap>

    <resultMap type="JwGameItem" id="JwGameItemResult">
        <result property="id"    column="game_item_id"    />
        <result property="matchId"    column="match_id"    />
        <result property="code"    column="game_item_code"    />
        <result property="name"    column="game_item_name"    />
        <result property="fee"    column="game_item_fee"    />
    </resultMap>

    <select id="selectJwSignRecordSportGameItemList" resultMap="JwSportSignGameItemResult">
        select js.*, jgi.id as game_item_id, jgi.match_id, jgi.code as game_item_code, jgi.name as game_item_name, jgi.fee as game_item_fee  from jw_sport  js
        LEFT JOIN jw_sign_record_sport  srs on js.id = srs.sport_id
        left join jw_game_item jgi on jgi.id = srs.game_item_id
        <where>
            <if test="teamId != null "> and srs.team_id = #{teamId}</if>
            <if test="matchId != null "> and srs.match_id = #{matchId}</if>
        </where>
    </select>

    <select id="selectJwSportList" parameterType="JwSport" resultMap="JwSportResult">
        <include refid="selectJwSportVo"/>
        <where>  
            <if test="playerName != null  and playerName != ''"> and player_name like concat('%', #{playerName}, '%')</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="sex != null and sex != ''"> and sex = #{sex}</if>
            <if test="age != null"> and age = #{age}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="playerPhone != null  and playerPhone != ''"> and player_phone = #{playerPhone}</if>
        </where>
    </select>

    <select id="selectJwSportByUserId" resultMap="JwSportResult">
        <include refid="selectJwSportVo"/>
        where create_user_id = #{createUserId}
        <if test="searchName != null  and searchName != ''"> and (player_name like concat('%', #{searchName}, '%') or id_card like concat('%', #{searchName}, '%'))</if>
    </select>


    <select id="selectTodayBirthSport" resultMap="JwSportResult">
        <include refid="selectJwSportVo"/>
        where id_card like concat('%', #{today}, '%')
    </select>

    <select id="selectJwSportByIdCard" resultMap="JwSportResult">
        <include refid="selectJwSportVo"/>
        where id_card = #{idCard}
        <if test="id != null"> and id != #{id}</if>
        <if test="createUserId != null"> and create_user_id = #{createUserId}</if>
    </select>

    <select id="selectJwSportByName" resultMap="JwSportResult">
        <include refid="selectJwSportVo"/>
        <where>
            <if test="playerName != null  and playerName != ''"> and player_name = #{playerName}</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
        </where>
        limit 1
    </select>

    <select id="getWxSportListWithGameItem" resultMap="JwSportResult">
        <include refid="selectJwSportVo"/>
        where create_user_id = #{createUserId}
        and age &gt;= #{minAge} and age &lt;= #{maxAge}
        <if test="sex != null and sex != ''"> and sex = #{sex}</if>
        and id not in (select sport_id from jw_sign_record_sport where game_item_id = #{gameItemId})
    </select>

    <!--获取参加比赛的人员名单-->
    <select id="getWxSportListByMatchTeam" resultMap="JwSportResult">
        select js.* ,jsrs.back_number as backNumber, jt.team_name as teamName from jw_sport js
        left join (select DISTINCT jsrs.sport_id, jsr.back_number from jw_sign_record jsr
        left join jw_sign_record_sport jsrs on jsrs.sign_record_id = jsr.id
        where jsr.sport_limit = 1 and jsr.match_id = #{matchId}) jsrs on jsrs.sport_id = js.id
        left join jw_team jt on jt.create_user_id = js.create_user_id
        where js.id in (select sport_id from jw_sign_record_sport where match_id = #{matchId})
        <if test="playerName != null  and playerName != ''"> and js.player_name like concat('%', #{playerName}, '%')</if>
        <if test="idCard != null  and idCard != ''"> and js.id_card like concat('%', #{idCard}, '%')</if>
        <if test="backNumber != null  and backNumber != ''"> and jsrs.back_number = #{backNumber}</if>
        <if test="teamId != null"> and jt.id = #{teamId}</if>
        order by js.id
    </select>

    <!--根据报名记录获取报名运动员数据-->
    <select id="getSportListWithsignRecord" resultMap="JwSportResult">
        select s.* from jw_sign_record_sport js
        left join jw_sport s on s.id = js.sport_id
        where js.sign_record_id = #{signRecordId}
    </select>

    <select id="selectJwSportById" parameterType="Long" resultMap="JwSportResult">
        <include refid="selectJwSportVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJwSport" parameterType="JwSport" useGeneratedKeys="true" keyProperty="id">
        insert into jw_sport
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="playerName != null and playerName != ''">player_name,</if>
            <if test="idCard != null">id_card,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="playerPhone != null">player_phone,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="playerName != null and playerName != ''">#{playerName},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="playerPhone != null">#{playerPhone},</if>
         </trim>
    </insert>

    <update id="updateJwSport" parameterType="JwSport">
        update jw_sport
        <trim prefix="SET" suffixOverrides=",">
            <if test="playerName != null and playerName != ''">player_name = #{playerName},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="playerPhone != null">player_phone = #{playerPhone},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateJwSportByName" parameterType="JwSport">
        update jw_sport
        <trim prefix="SET" suffixOverrides=",">
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="playerPhone != null">player_phone = #{playerPhone},</if>
        </trim>
        where player_name = #{playerName}
    </update>

    <delete id="deleteJwSportById" parameterType="Long">
        delete from jw_sport where id = #{id}
    </delete>

    <delete id="deleteJwSportByIds" parameterType="String">
        delete from jw_sport where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>